# Environment Configuration
.env
.env.*

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# extensions build output
extensions/*/build
extensions/*/dist

# Remix build output
/build
/.cache
/public/build

# Prisma local database
/prisma/*.sqlite
/prisma/*.sqlite-journal
/prisma/dev.sqlite
.env.local

# lock files




# Ignore shopify files created during app dev
.shopify/*
.shopify.lock